<nav class="sidebar">
  <div class="sidebar-logo">
      <img src="../images/triathlon.png" width="20">
  </div>
  <a class="nav-item" href="dashboard.html" data-page="dashboard">
    <span class="nav-icon">⊞</span>
    <span class="nav-label">Dashboard</span>
  </a>
  <a class="nav-item" href="activities.html" data-page="activities">
    <span class="nav-icon">◎</span>
    <span class="nav-label">Sorties</span>
  </a>
  <a class="nav-item" href="stats.html" data-page="stats">
    <span class="nav-icon">📈</span>
    <span class="nav-label">Stats</span>
  </a>
  <a class="nav-item" href="sports.html" data-page="sports">
    <span class="nav-icon">🏅</span>
    <span class="nav-label">Multi-Sport</span>
  </a>
  <a class="nav-item" href="contacts.html" data-page="contacts">
    <span class="nav-icon">👥</span>
    <span class="nav-label">Contacts</span>
  </a>
  <a class="nav-item" href="tracker.html" data-page="tracker">
    <span class="nav-icon">◉</span>
    <span class="nav-label">Live</span>
  </a>
  <a class="nav-item" href="import.html" data-page="import">
    <span class="nav-icon">⬆</span>
    <span class="nav-label">Import GPX</span>
  </a>
  <div style="flex:1"></div>
  <a class="nav-item" href="profile.html" data-page="profile">
    <span class="nav-icon">👤</span>
    <span class="nav-label">Profil</span>
  </a>
  <a class="nav-item" href="#" onclick="Auth.logout()">
    <span class="nav-icon">⏏</span>
    <span class="nav-label">Déconnexion</span>
  </a>
</nav>
